<%= link_to "Dodaj novi post", new_user_post_path(@user), :class => 'action new' if session[:user_id]==@user.id %>
<h1 style="text-align: center"><%= image_for(@user)%><%= @user.username%></h1>
<div><%= pluralize(@posts.size, 'post') %> found </div>
<div style="text-align: center"><%= pluralize(@user.friends.size,'following')%></div>
<div style="text-align: right"><%= pluralize(@followers,'followers')%></div>
      <% @posts.each do |post| %>
          <div class="row">
            <div class="col-xs-6 col-md-4">
              <a href="<%=user_post_path(@user,post.id)%>" class="thumbnail">
                <h5 style="text-align: center">
                  <%= post.title %></h5>
                <%=image_tag post.image.url(:thumb), size: "300x300"%>
              </a>
            </div>
<% end %>
            </div>

