<h1>Profil for <%= @user.username%><%= image_for(@user)%></h1>
<div><%= pluralize(@posts.size, 'post') %> found </div>
    <table class="listing" summary="Post list">
      <%= link_to "Dodaj novi post", new_user_post_path(@user), :class => 'action new' if session[:user_id]==@user.id %>
      <% @posts.each do |post| %>
          <%= link_to user_post_path(@user,post.id) do %><div><%=post.title =image_tag post.image.url(:thumb)%> </div><%end%>
      <% end %>
    </table>