<% @posts.each do |post|  %>
    <div class="row">
      <div class="col-sm-9 col-md-10">
        <div class="thumbnail">
          <%=link_to image_for(post.user, size:45) + post.user.username, user_path(post.user_id) %>
          <%= link_to "Delete post",user_post_path(post.user_id, post.id), :method=>'delete', class:"btn btn-primary" if session[:user_id]==post.user_id%>
          <p>
          <%= post.title%>
            </p>
          <img src="<%= post.image.url(:big)%>"  size= "800x800" alt="<%= post.image.url(:thumb)  %>">
          <div class="caption">
            <div class="caption_<%= post.id %>" id="caption_<%= post.id %>" style="text-align: center;">
            <%=  render 'posts/like', :post => post %>
            </div>
            <p>
            <div id="comments">
              <h2><%= post.comments.count %> Comments</h2>
              <div id="com_<%= post.id %>">
              <%=  render post.comments %>
                </div>
              <h3>Add a comment</h3>
              <%=  render 'comments/form', :@post => post %>
            </div>
            </p>
          </div>
        </div>
      </div>
    </div>
<% end %>