<h1>Create Post</h1>
<div class="new post">
<%= form_for :post, url: user_posts_path(@user), html: {multipart: true} do |f| %>
      <p>
        <%= f.label :title, "Naslov: "  %>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :image, "Slika: " %>
        <%= f.file_field :username %>
      </p>
      <p>
        <%= f.submit %>
      </p>
  <% end %>
</div>