<div class="posts">
  <th>title: </th>
  <td><%= @post.title %></td>
  <td> <%= @post.user.username %></td>
  </td>
</div>

<div id="comments">
  <h2><%= @post.comments.count %> Comments</h2>
  <%= render @post.comments %>

  <h3>Add a comment</h3>
<%= render "comments/form"%>
</div>
