<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zavrsni</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'users', media: 'all' %>
    <%= stylesheet_link_tag    'posts', media: 'all' %>
    <%= stylesheet_link_tag    'groups', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Brand</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if session['user_id']%>
              <%= form_tag(trazi_user_path(session[:user_id]), :method => "get", class:"navbar-form navbar-left") do %>
                <div class="form-group">
                  <%= text_field_tag :search, params[:search], placeholder: "Search Users", class:"form-control"%>
                </div>
                  <%= submit_tag "Search", class:"btn btn-default" %>
              <% end %>
          <li class="dropdown">
            <a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= user_path(session[:user_id]) if session['user_id'] %>">My Account</a></li>
              <li><a href="<%= edit_user_path(session[:user_id]) if session['user_id'] %>">Edit account</a></li>
              <li><a href="<%= new_user_post_path(session[:user_id]) if session['user_id'] %>">Create new post</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="<%= activities_path %>">My activities</a></li>
              <li<% if session[:admin]==true %>><a href="<%= users_path %>">All users</a></li <% end%>>
              <li role="separator" class="divider"></li>
              <li><a href="<%= statistic_index_path %>">Statistic</a></li>
            </ul>
          </li>
          <% end %>
          <li class="active"><%= link_to "Add friend", new_friendship_path, :class=>'action new' if session['user_id']%></li>
          <li class="active"><%= link_to "My Groups", user_groups_path(session[:user_id]), :class=>'action new' if session['user_id']%></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log Out ", :controller =>'access', :action => :logout if session['user_id'] %></li>
          <li><%= link_to "Sign Up ", new_user_path, :class=>'action show' unless session['user_id'] %><br></li>
          <li><%= link_to "Log In ", :action => :login, :class=>'action show' unless session['user_id'] %></li>
        </ul>
      </div>
    </div>
  </nav>
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
